<div class="d-flex flex-column align-items-center justify-content-center mt-5" ,style="width:100%;height:100%;">

    <div class="text-center">
        <h2>Edit Post</h2>
    </div>
    <%= render 'form', post: @post %>

    <%= link_to 'Back to Post?', @post %> |
</div>
<!-- <%= link_to 'Back', posts_path %> -->