<div class="d-flex flex-column align-items-center justify-content-center mt-5" ,style="width:100%;">

    <div class="text-center">
        <h2>New Post</h2>
    </div>
    <%= render 'form', post: @post %>
</div>
<!-- <%= link_to 'Back', posts_path %> -->